@import 'variables';

#vsToastContainer {
  box-sizing: border-box;
  position: absolute;
  top: $toast-box-top;
  right: $toast-box-right;
  left: $toast-box-left;
  bottom: $toast-box-bottom;
  margin: $toast-box-margin;
  transform: $toast-box-transform;
}

#vsToastContainer .vsToast {
  color: $toast-text-color;
  background-color: $toast-background-color;
  padding: $toast-padding;
  border-radius: $toast-border-radius;
  opacity: 0;
  animation: fadein $toast-length;
  animation-fill-mode: forwards;
  box-shadow: $toast-shadow;
}